<style>
  TOC {
    color: #0B1E68;
    font-family: Spectral;
    font-size: 16px;
    border-color: #101732;
  }
  h1.title {
    color: #010E40;
    background-color: #EDF0F9;
    opacity: 0.9;
    font-family: Spectral;
    font-size: 40px;
  }
  h4.author {
    color: #A58604;
    background-color: #EDF0F9;
    font-family: Spectral;
  }
  h4.date {
    color: #C8A306;
    background-color: #EDF0F9;
    font-family: Spectral;
  }
  body {
    color: #08142A;
    font-family: Spectral;
    background-color: #EDF0F9;
  }
  pre {
    color: #08142A;
    background-color: #F9F6E5;
  }
</style>