<style>
  TOC {
    color: #708090;
    font-family: Calibri;
    font-size: 16px;
    border-color: #708090;
  }
  h1.title {
    color: #F08080;
    background-color: #F5F5F5;
    opacity: 0.6;
    font-family: Calibri;
    font-size: 20px;
  }
  h4.author {
    color: #708090;
    background-color: #F5F5F5;
    font-family: Calibri;
  }
  h4.date {
    color: #708090;
    background-color: #F5F5F5;
    font-family: Calibri;
  }
  body {
    color: #708090;
    font-family: Calibri;
    background-color: #F5F5F5;
  }
  pre {
    color: #708090;
    background-color: #F8F8FF;
  }
</style>